@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wallpaper1{
  background-image: url('/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


[aria-selected="true"] {
  background-color: #3329f7 !important; /* Ensure today's date is visible */
  color: white !important;
  border-radius: 50%;
}
.icon {
  background-color: rgba(0, 0, 0, 0.3); /* Adds a slight background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Soft shadow */
}
.icon img {
  filter: brightness(0.9) contrast(1.2);
}
